<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Lista de Productos</title>
</head>
<body>
<div>
        <h1>Bienvenido a la Home</h1>
    <a href="/realtimeproducts" class="go-home-button">Ir a Productos en Tiempo Real</a>
</div>

<ul>
    {{#each productos}}
        <li>
            <strong>{{this.title}}</strong> - {{this.description}} - ${{this.price}}
            <button onclick="addToCart({{this.id}})">Agregar al carrito</button>
        </li>
    {{/each}}
</ul>


    <!-- Scripts -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/home.js"></script>
    {{!-- <script src="/js/clientapp.js"></script> --}}
</body>
</html>

