<h1>Productos en Tiempo Real</h1>
<form id="addProductForm">
    <input type="text" id="productName" placeholder="Nombre del producto" required>
    <input type="number" id="productPrice" placeholder="Precio" required>
    <button type="submit">Agregar Producto</button>
</form>

<ul id="productList">
    <!-- Los productos se agregarán aquí dinámicamente -->
</ul>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/clientapp.js"></script>



