body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

.container {
    text-align: center;
    margin: 50px auto;
    max-width: 600px;
}

.go-home-button {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #0078d7;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px;
    font-size: 16px;
    transition: all 0.3s;
}

.go-home-button:hover {
    background-color: #005bb5;
}